html {
  font-size: 62.5%;
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 56.25%; } }
@media only screen and (max-width: 800px) {
  html {
    font-size: 45%; } }
@media only screen and (max-width: 600px) {
  html {
    font-size: 20%; } }

h2{
  font-size: 2.25rem;
}

@media only screen and (max-width: 1000px){
  h2{
    font-size: 1.8rem;
  }
}

@font-face{
  font-family: Neosans;
  src: url(./images/fonts/NeoSansLightItalic.otf)
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8rem;
}

.App-header {
  background-color: #222;
  height: 15rem;
  padding: 2rem;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Registration {
  position:absolute;
  background-image: url("./images/login_registration_background.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Overlay{
  background-color: rgba(66, 119, 244, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.center-registration{
  position: absolute;
  margin: auto;
  margin-top: 17%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.79);
}

#register-button{
  width: 20vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 1.6rem;
  margin-left: 16%;
  margin-top: 10%
}

.registration-input{
  width: 20vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 1.6rem;
  color: grey;
  font-style: italic;
  margin-left: 16%;
  margin-top: 6%
}

#registration-login-text{
  margin-left: 15%;
  margin-top: 6%;
  color: #FFF5C4;
}

#registration-header{
  color: #FFF0A8;
  margin-left: 8%;
  margin-top: 10%
}

#login-header{
  color: #FFF0A8;
  margin-left: 12.5%;
  margin-top: 20%;
}

.login-input{
  width: 20vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 1.6rem;
  color: grey;
  font-style: italic;
  margin-left: 16%;
  margin-top: 6%
}

.center-login{
  position: absolute;
  margin: auto;
  margin-top: 17%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40rem;
  height: 40rem;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.79);
}

#login-button{
  width: 20vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  font-size: 1.6rem;
  margin-left: 16%;
  margin-top: 10%
}

.navigation{
  position: relative;
  background-color: #42588A;
  white-space: nowrap;
  height: 7.5rem;
  width: 110vw;
}

.navigation a{
  color: #FFFFFF
}

.navigation__housing{
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1000px){
  .navigation__housing{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 800px){
  .navigation__housing{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 600px){
  .navigation__housing{
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

.navigation__todaysmarkets{
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  width: auto;
  margin-left: 4rem;
  margin-right: 4rem;
}

@media only screen and (max-width: 1000px){
  .navigation__todaysmarkets{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__todaysmarkets{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__todaysmarkets{
    font-size: 3.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 1rem;
    margin-left: 3rem;
  }
}

.navigation__quotewindow{
  display:inline-block;
  font-size: 2rem;
  text-decoration: none;
  width: auto;
  margin-right: 4rem;
}

@media only screen and (max-width: 1000px){
  .navigation__quotewindow{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__quotewindow{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__quotewindow{
    font-size: 3.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 1rem;
  }
}

.navigation__stockspotlight{
  display:inline-block;
  font-size: 2rem;
  text-decoration: none;
  width: auto;
  margin-right: 4rem;
}

@media only screen and (max-width: 1000px){
  .navigation__stockspotlight{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__stockspotlight{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__stockspotlight{
    font-size: 3.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 1rem;
  }
}

.navigation__patternmatcher{
  display:inline-block;
  font-size: 2rem;
  text-decoration: none;
  width: auto;
  margin-right: 4rem;
}

@media only screen and (max-width: 1000px){
  .navigation__patternmatcher{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__patternmatcher{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__patternmatcher{
    font-size: 3.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 1rem;
  }
}

.navigation__trade{
  display:inline-block;
  font-size: 2rem;
  text-decoration: none;
  width: auto;
  margin-right: 4rem;
}

@media only screen and (max-width: 1000px){
  .navigation__trade{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__trade{
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__trade{
    font-size: 3.5rem;
    width: auto;
    margin-top: 0;
    margin-right: 1rem;
  }
}

.navigation__clock{
  display:inline-block;
  font-size: 1.6rem;
  text-decoration: none;
  width: auto;
  margin-left: 2.25rem;
  color: #FFEBC4;
}

@media only screen and (max-width: 1000px){
  .navigation__clock{
    font-size: 1.1rem;
    width: auto;
    margin-left: 2.25rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__clock{
    font-size: 1.1rem;
    width: auto;
    margin-left: 2.25rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__clock{
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0;
    font-size: .1rem;
    display: none;
  }
}

.navigation__logout_button{
  display:inline-block;
  font-size: 1rem;
  text-decoration: none;
  width: auto;
  font-size: 1.4rem;
  height: 2.3rem;
  border-radius: .5rem;
  margin-left: 4.25rem;
}

@media only screen and (max-width: 1000px){
  .navigation__logout_button{
    font-size: 1rem;
    height: 1.8rem;
    width: auto;
    margin-left: 2.25rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__logout_button{
    font-size: 1rem;
    height: 1.8rem;
    width: auto;
    margin-left: 2.25rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__logout_button{
    font-size: .5rem;
    height: 2rem;
    width: auto;
    margin-left: 1rem;
    margin-top: 0;
    background-color: transparent;
    border-color: transparent;
    color: #FFEBC4;
  }
}

.navigation__logout_button:hover{
  display:inline-block;
  font-size: 1rem;
  text-decoration: none;
  width: auto;
  font-size: 1.4rem;
  height: 2.3rem;
  border-radius: .5rem;
  background-color: #AEA4CE;
  border-color: #AEA4CE;
  cursor:pointer;
  margin-left: 4.25rem;
}

@media only screen and (max-width: 1000px){
  .navigation__logout_button:hover{
    font-size: 1rem;
    height: 1.8rem;
    width: auto;
    margin-left: 2.25rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 800px){
  .navigation__logout_button:hover{
    font-size: 1rem;
    height: 1.8rem;
    width: auto;
    margin-left: 2.25rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 600px){
  .navigation__logout_button:hover{
    font-size: .5rem;
    height: 2rem;
    width: auto;
    margin-left: 1rem;
    margin-top: 0;
    background-color: transparent;
    border-color: transparent;
    color: #FFEBC4;
  }
}

.newsLink{
  display: inline-block;
  border-style: solid;
  width: 32.5rem;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1250px){
  .newsLink{
    width: 22rem;
    font-size: 1rem;
  }
}

.newsLink a{
  color: #000000;
  text-decoration: none;
  margin-bottom: 0;
}

a:hover{
  color: #AEA4CE
}

.recent-news-container{
  word-wrap: break-word;
  display: grid;
  grid-template-areas:
  'video article article article'
  'video article article article'
  'video article article article';
}

.recent-news-source{
  font-size: 1.2rem;
}

.recent-news-date{
  font-size: 1rem;
}

.overviewstock{
  width: 23rem;
  height: 9rem;
  border-style: solid;
  margin-left: 1px;
  background: #ffffff;
  font-size: 1.25rem;
}

.topStoryContainer{
  white-space: nowrap;
  height: 30rem;
  width: 100%;
  word-wrap: break-word;
  white-space: nowrap;
}

@media only screen and (max-width: 1250px){
  .topStoryContainer{
    height: 22rem;
  }
}

.topStoryContainer h2{
  margin-top: 0px;
  word-wrap: break-word;
  white-space: nowrap;
}

.topStoryContainer__topNews{
  display: inline-block;
  margin-left: 3.1rem;
  margin-right: 3.1rem;
  width: 40rem;
  word-wrap: break-word;
  margin-bottom: 1rem;
  border-bottom: 1px solid grey
}

@media only screen and (max-width: 1250px){
  .topStoryContainer__topNews{
    display: inline-block;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    width: 30rem;
    word-wrap: break-word;
    margin-bottom: 1rem;
    border-bottom: 1px solid grey
  }
}

.topStoryContainer__topNews img{
  width: 40rem;
  height: 20rem;
}

@media only screen and (max-width: 1250px){
  .topStoryContainer__topNews img{
    width: 25rem;
    height: 12.5rem;
    transform: translateX(-10%);
  }
}

.topStoryContainer__topNews h3{
  font-size: 1.35rem;
  word-wrap: break-word;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 1250px){
  .topStoryContainer__topNews h3{
    font-size: 1rem;
    word-wrap: break-word;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.topStoryContainer__topNews div{
  text-align: left;
  margin-top: 0px;
  color: grey;
  font-size: 1.1rem;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.Video{
  margin-left: 3.1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 32rem !important;
  height: 18rem !important;
  grid-area: video;
  margin-right: 5.2rem;
}

@media only screen and (max-width: 1250px){
  .Video{
    margin-left: 3.1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 32rem !important;
    height: 18rem !important;
    grid-area: video;
    margin-right: 5.2rem;
  }
}

.saved-patterns{
  float: right;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 20rem;
  font-size: 1.5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  width: 30rem;
  height: 30rem;
  border-radius: 3px;
}

.form-amount-investing{
  float: left;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 1.5rem;
}

.input-amount-investing{
  font-size: 2.6rem;
  margin-top: 0px;
  margin-left: 3rem;
}

.pattern-form{
  float:left;
  width: 60rem;
  height: 100%;
  margin-left: 9rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.form-primary-symbol{
  font-size: 2.6rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 3rem;
}

.input-primary-symbol{
  font-size: 2.6rem;
}

.pattern-selector{
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  height: 100%;
  float: left;
}

.pattern-condition-button{
  margin-left: 3rem;
  float: left;
}

.form-primary-alt{
  float: left;
  margin-top: 2rem;
}

.pattern-button{
  margin-left: 3rem;
  margin-bottom: 2rem;
  float: left;
  width: 10rem;
  height: 10rem;
  outline: none;
}

.pattern-button:hover{
  transform: translateY(-3%);
  box-shadow: .1rem .25rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.patternParameters{
  font-size: 16px;
  float: left;
  margin-left: 400px;
  margin-top:10px;
  margin-bottom: 10px;
}

.patternParameters h3{
  margin-bottom: 0px;
}

.patternReturnInfo{
  font-size: 16px;
  margin-top:10px;
  margin-bottom: 10px;
}

.patternReturnInfo h3{
  margin-bottom: 0px;
}

.patternContainer h2{
  float: left;
  margin-left: 120px;
  font-size: 30px;
}

canvas{
  margin-right: 120px;
  margin-left: 120px;
}

.MatcherChart canvas{
  margin-right: 10px;
  margin-left: 10px;
}

.MatcherChart {
  background: rgb(197, 205, 224, 0.2);
  padding-top: 10px;
}

.SpotlightChart canvas{
  margin-right: 10px;
  margin-left: -270px;
  background: rgb(197, 205, 224, 0.2);
}

.SpotlightChart {
  float: left;
  margin-left: 435px;
  padding-top: 10px;
}

.expectedReturn{
  margin-top: -180px;
  font-size: 30px;
  margin-left: 35px;
}

.returnAmount{
  color: green;
  font-size: 40px;
}

.delete_button{
  margin-left: 5px;
}

.delete_button:hover{
  cursor:pointer;
}

select.input-primary-symbol{
  font-size: 1rem;
  margin-left: 15px;
}

input.input-primary-symbol{
  margin-right: 15px;
}

.Spaceholder{
  height: 451px;
  background: rgb(197, 205, 224, 0.2);
}

.stockSpotlightHeader{
  float: left;
  margin-left: 120px;
  margin-top: 10px;
}

input.stockSearch{
  float: left;
  margin-left: 40px;
  margin-top: 11px;
  width: 200px;
  height: 20px;
}

.stockSpotlightCompanyName{
  float: left;
  margin-left: -605px;
  margin-top: 40px;
  font-size: 20px;
}

.stockInfoContainer{
  margin-left: -280px;
  display: inline-grid;
  grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px;
  grid-template-rows: 2;
  grid-template-areas:
  'stockInfoHeader stockInfoHeader stockInfoHeader stockInfoHeader stockInfoHeader stockInfoHeader stockInfoHeader stockInfoHeader stockInfoHeader'
  'stockInfoData stockInfoData stockInfoData stockInfoData stockInfoData stockInfoData stockInfoData stockInfoData stockInfoData';
  margin-top: 5px;
  margin-bottom: 30px;
}

.stockInfoHeader{
  border: 1px black solid;
  font-size: 14px;
}

.stockInfoData{
  border: 1px black solid;
  font-size: 14px;
}

.spotlightNewsContainer{
  float: right;
  margin-right: 50px;
}

button.saveSpotlight{
  margin-left: 20px;
  font-size: 14px;
  border-radius: 10px;
}

.spotlightNewsContainer h4{
  margin-top: 7px;
}

.loginError{
  color: red;
  font-size: 14px;
  margin-left: 100px;
}

.registrationError{
  color: red;
  font-size: 14px;
  margin-left: 115px;
}

#login-registration-text{
  margin-left: 23%;
  margin-top: 6%;
  color: #FFF5C4;
}

h2.SpotlightChartHeader{
  margin-left: -800px;
  margin-top: 0px;
  margin-bottom: -37px;
}

select.savedPatterns{
  float: left;
  margin-left: 40px;
  margin-top: 14px;
  width: 200px;
  height: 20px;
}

button.deletePatterns{
  float: left;
  margin-left: 40px;
  margin-top: 14px;
  width: 140px;
  height: 20px;
  background-color: rgb(255, 0, 0, 0.3);
  border-radius: 5px;
}

.invalidPattern{
  color: red;
  font-size: 22px;
  margin-top: 100px;
  margin-left: 50px;
  float: left;
  -webkit-animation: fadein 12s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 12s; /* Firefox < 16 */
    -ms-animation: fadein 12s; /* Internet Explorer */
     -o-animation: fadein 12s; /* Opera < 12.1 */
        animation: fadein 12s;
  }

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Registration h2{
  font-family: Neosans;
  font-size: 100px;
  font-style: italic;
  text-decoration: underline;
  color: white;
  margin-left: 470px;
  text-shadow: 5px 5px 15px #000000;
  margin-top: 80px
}

.MatcherLoadingWheel{
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

.SpotlightLoadWheel{
  height: 150px;
  width: 150px;
  margin-top: 150px;
}

.pattern-selector-dropdown{
  margin-left: 40px;
  margin-right: 100px;
  font-size: 1rem;
}

.number-of-days{
  font-size: 1.4rem;
  text-align: left;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 3rem;
  margin-bottom: 3rem;
  float: left;
}

.pattern-input{
  margin-left: 1rem;
}

.matcherchart-button{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  width: 6rem;
  height: 2.6rem;
  border-radius: 5px;
  outline: none;
  background-color: none;
  font-size: 1.3rem;
}

.matcherchart-button:hover{
  cursor: pointer;
  transform: translateY(-3%);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}

.matcherchart-button-selected{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 2rem;
  width: 6rem;
  height: 2.6rem;
  border-radius: 5px;
  outline: none;
  background-color: rgba(154, 164, 194);
  color: white;
  font-size: 1.3rem;
}

.matcherchart-button-selected:hover{
  cursor: pointer;
  transform: translateY(-3%);
  box-shadow: .1rem .1rem 1rem rgba(0, 0, 0, 0.2);
  outline: none;
}
